{{#each entry}}
    <div class="row" data-id="{{_id}}">
        <div class="col wide">{{type}}</div>
        <div class="col wide">{{qty}}</div>
        <div class="col wide">{{price}}</div>
        <div class="col">{{total}}</div>
        <div class="col right">
            <a href="#" class="delete">&#10006;</a>
        </div>
    </div>
{{/each}}
