{{#each flight}}
    <a href="#" class="added-flight" data-id="{{_id}}">
        <img src={{image}} alt=""
             class="picture-added-flight">
        <h3>{{destination}}</h3>
        <span>from {{origin}}</span>
        <span>{{formatDate}}</span>
    </a>
{{/each}}