<div class="ticket-area-left">
    <img src="{{image}}" alt="">
</div>
<div class="ticket-area-right" data-id="{{_id}}">
    <h3>{{destination}}</h3>
    <div>from {{origin}}</div>
    <div class="data-and-time" data-id="{{_id}}">
        {{formatDate}} {{departureTime}}
        <a href="#" class="edit-flight-detail"></a>
    </div>
    <div>
        {{seats}} Seats ({{cost}}$ per seat)
    </div>
</div>